body {
  background-color: #dadada;
}

h1 {
  font-family: Garamond;
  font-style: bold;
}

h2 {
  font-family: Arial, 'Times New Roman', Times, serif;
  font-weight: 1.25em;
}

h3 {
  font-family: Arial;
}

li a {
  font-size: 10pt;
  font-family: Garamond;
}