<!doctype html>
<title>{{ content.title }}</title>
<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
</head>

<body>
  {% include 'nav.html' %}
  <h1>{{ content.h1 }}</h1>

  <div class="skills">
    <h2>Skills</h2>
    <ul class="no-bullets">
    {% for skill in content.skills %}
      <li>{{ skill }}</li>
    {% endfor %}
    </ul>
  </div>

  <h2>Experience</h2>
  <ul>
  {% for value in content.experience %}
    <h3 class="company-header">{{ value.role }}</h3>
    <p class="company-name">{{ value.company }}</p>
    <p>({{value.started}} - {{value.ended}}) </p>
    {% for resp in value.responsibilities %}
      <li>{{ resp }}</li>
    {% endfor %}
    <br>
  {% endfor %}
  </ul>


  <h3 class="education-header">Education</h2>
  <p>{{ content.education.school }}
  ({{ content.education.started }} -- {{ content.education.ended }})
  </p>
  <p>
  {{ content.education.level }} in {{ content.education.major }}
  </p>

  <a href="/">Go home</a>

  {% include 'footer.html' %}

</body>
