<!doctype html>
<title>{{ content.title }}</title>
<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Alegreya&family=Alegreya+Sans&family=Fira+Sans&family=Merriweather&family=Merriweather+Sans&family=Nunito&family=Nunito+Sans&family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300&family=Quattrocento&family=Quattrocento+Sans&family=Roboto&family=Roboto+Mono&family=Roboto+Slab&family=Source+Code+Pro:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
  <div class="grid-container">
    {% include 'nav.html' %}
    {% include 'menu.html' %}
    
    <div class="two-cols">
      <h1>{{ content.h1 }}</h1>
      <h2>Skills</h2></div>
      
    <div class"left-col">
        <h3>Programming</h3>
        <ul class="no-bullets">
        {% for skill in content.programming %}
          <li>{{ skill }}</li>
        {% endfor %}
        </ul>
    </div>

    <div class"right-col">
      <h3>Software</h3>
      <ul class="center-ul">
      {% for skill in content.software %}
        <li>{{ skill }}</li>
      {% endfor %}
    </div>
  </div>

    <div class"two-cols">
      <h2>Experience</h2>
      {% for value in content.experience %}
        <h3 class="company-header">{{ value.role }}</h3>
        <p class="company-name">{{ value.company }}</p>
        <p>{{value.started}} - {{value.ended}}</p>
        <ul>
        {% for resp in value.responsibilities %}
          <li>{{ resp }}</li>
        {% endfor %}
        <br>
      {% endfor %}
      </ul>

      <h3 class="education-header">Education</h2>
      <p>{{ content.education.school }}
        ({{ content.education.started }} -- {{ content.education.ended }})
      </p>
      <p>
        {{ content.education.level }} in {{ content.education.major }}
      </p>
      
    </div>
    {% include 'footer.html' %}
  </div>
</body>
