<!doctype html>

<title>{{ content['title'] }}</title>
<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
</head>
<body>
<div class="grid-container">
  {% include 'nav.html' %}
  {% include 'menu.html' %}
  <div class="two-cols">
    <div class="code">
      <p>
        import requests<br>
      res = requests.get('https://www.google.com')
      </p>
      
    </div>
    <h1>{{ content.h1 }}</h1>
    <h2> {{ content.description }} </h2>
    <ul class="no-bullets">
      <li>Drop me an email at {{ content.email }}</li>
      <li>Find me on LinkedIn: <a href="https://www.linkedin.com">{{ content.linkedin }}</a></li>
      <li>Find me on Github: <a href="https://www.github.com">{{ content.github }}</a></li>
    </ul>
  </div>
  {% include 'footer.html' %}
</div>
  

</body>
