/* font-family: 'Alegreya', serif;
font-family: 'Alegreya Sans', sans-serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Quattrocento', serif;
font-family: 'Quattrocento Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Roboto Slab', serif;
font-family: 'Source Code Pro', monospace; */

:root {

  /* Margins */
  --xsmall-margin: 6px;
  --small-margin: 12px;
  --medium-margin: 18px;
  --large-margin: 24px;
  --huge-margin: 30px;


  /* Font sizes */
  --xsmall-font: 0.75em;
  --small-font: 0.9em;
  --medium-font: 1.0em;
  --large-font: 1.25em;
  --Large-font: 1.5em;
  --huge-font: 2em;
}
 
body {
  background-color: #f3f3f3;
  grid-template-columns: repeat(auto-fit minmax(200px, 1fr));
}

h1 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-style: bold;
}

h2 {
  font-family: 'Open Code Pro', monospace;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-family: Arial;
  font-style: bold;
}

.company-header {
  /* color: #fff; */
  text-align: center;
}

.company-name {
  /* color: #fff; */
  font-family: 'Open Sans', sans-serif;
  font-size: var(--medium-font);
}


p {
  font-family: 'Alegreya', serif;
  /* font-weight: 400; */
  text-align: center;
}

.grid-container {
  display: grid;
  /* grid-template-columns: auto auto auto auto; */
  grid-template-areas: 
    'navbar navbar navbar navbar navbar'
    /* 'menu left-col left-col right-col right-col' */
    'menu left-col left-col right-col right-col'
    'menu two-cols two-cols two-cols two-cols'
    'footer footer footer footer footer';
  /* grid-gap: 1rem; */
  /* background-color: #2c2b2b; */
  /* padding: var(--small-margin); */
  /* margin-bottom: var(--medium-margin); */
}

/* .header { grid-area: header; } */
/* .menu { grid-area: menu; }
.left-col { grid-area: left-col; }
.right-col { grid-area: right-colt; }
.footer { grid-area: footer; } */

.grid-container > h2 {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  text-align: center;
}

.grid-container > .item {
  font-size: var(--large-font);
  font-style: 'Fira Sans', 'sans-serif';
}

.grid-container > div {
  /* background-color: #a5a3a3; */
  /* text-align: center; */
  /* padding: 20px 0; */
  font-size: var(--large-font);
  /* border-radius: 0.5rem; */
}

.grid-container > p {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.navheader {
  /* grid-template-columns: auto auto auto auto; */
  grid-area: navbar;
  float: left;
  display: block;
  background-color: #4747a9;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239973d4' fill-opacity='0.2' fill-rule='evenodd'%3E%3Cpath d='M8 0v20L0 10M16 0v10L8 0M16 10v10H8'/%3E%3C/g%3E%3C/svg%3E");
  /* background-color: #3f3f3f; */
  color: #fff;
  max-width: 100%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.navheader > ul {
  /* grid-template-columns: auto auto auto auto; */
  grid-gap: var(--xsmall-margin);
}

.navheader > a {
  color: #fff;
  font-style: bold;
  font-size: 0.7em;
  /* display: inline-block; */
}

.menu {
  grid-area: menu;
  background-color: #588cee;
  color: #fff;
  padding: 10px 10px 10px 10px;
  text-align: center;
}


.left-col {
  grid-area: left-col;
}

.right-col {
  grid-area: right-col;
}

.two-cols {
  grid-area: two-cols;
  background-color: #fff; 
}

.footer {
  grid-area: footer;
  background-color: #696969;
  font-style: bold;
  font-size: var(--huge-font);
  overflow: auto;
  max-width: 100%;
  text-align: center;
  margin-top: 2.5%;
}

.footer a {
  color: #fff;
  font-size: var(--medium-font);
  font-style: Roboto;
}

ul {
  list-style-position: inside;
}

li {
  /* Are grid items */
  display: flex;
  flex-flow: column;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Open Sans', sans-serif;
  font-size: var(--small-font);
  /* color: #fff; */
  font-size: var(--medium-font);
}


.center-ul {
  text-align: center;
}

.no-bullets {
  list-style-type: none;
}

.grid-container > .no-bullets > li {
  color: #fff;
}

strong {
  color: #2c2b2b;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-align: center;
}

.skills {
  text-align: center;
}


.code {
  background-color: rgb(202, 202, 202); 
  color: rgb(59, 59, 59);
  padding: 10px 10px 10px 10px;
}

.code > p {
  font-family: 'Source Code Pro', monospace;
  text-align: justify;
  margin-left: 15%;
}