.main {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(14, 1fr);
  height: 100%;
  width: 100%;
}

.toolbar {
  grid-row: 1 / span 1;
  grid-column: 1 / -1;
  background-color: #f3f3f3;
  /* width: 100%; */
}

.title {
  grid-row: 3 / span 5;
  grid-column: 2 / span 7;
}

.panel {
  padding: 2ch 2rem 0 1rem;
  position: relative;
}
.panel::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
  background: rgba(255, 255, 255, 0.25);
}

.toolbar {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  border-bottom: 3px solid white;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  letter-spacing: 0.5px;
}

/* * ! background styling */ */
:root {
  --bg-color: #3057e1;
  --text-color: #fefefe;
}
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body::before {
  pointer-events: none;
  content: '';
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.18;
  background-size: 50px 50px;
  background-image: linear-gradient(
      transparent 0%,
      transparent 98%,
      var(--text-color) 98%,
      var(--text-color) 100%
    ),
    linear-gradient(
      90deg,
      transparent 0%,
      transparent 98%,
      var(--text-color) 98%,
      var(--text-color) 100%
    );
}


.no-bullets {
  list-style-type: none;
  display: inline-flex;
}

.no-bullets > li {
  margin-left: 15px;
}