:root {

  /* Margins */
  --xsmall-margin: 6px;
  --small-margin: 12px;
  --medium-margin: 3%;
  --large-margin: 5%;
  --huge-margin: 10%;


  /* Font sizes */
  --xsmall-font: 0.75em;
  --small-font: 0.9em;
  --medium-font: 1.0em;
  --large-font: 1.25em;
  --Large-font: 1.5em;
  --huge-font: 2em;
}

.contact {
  margin-bottom: var(--large-margin);
}

.experience {
  margin: 0 10% 3% 10%;
}

.experience > ul {
  margin-bottom: var(--large-margin);
}

.experience > b {
  font-size: 1.2em;
}
